Repository haskell/containers, pull requests merged in 2020-07, with the labels that each got.

#662 add target for *-strictness tests
  containers-tests/tests/Makefile
Labels: testing

#738 Fix `stack test`
  stack.yaml
Labels: maintainability

#638 reverse topological ordering
  containers/src/Data/Graph.hs
Labels: Graph, feature-request

#743 Expose IntMap.traverseMaybeWithKey
  containers/src/Data/IntMap/Internal.hs
  containers/src/Data/IntMap/Lazy.hs
  containers/src/Data/IntMap/Strict.hs
  containers/src/Data/IntMap/Strict/Internal.hs
Labels: IntMap
